body{
    background-color:rgb(170, 173, 176);
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr repeat(4, min-content);
    max-width: 30vw;
    margin-inline: auto;
    align-items: baseline;
}

input{
    grid-row: 2;
}

.img-slider{
    place-self: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.img1, .img2, .img3, .img4{
    grid-row: 1;
    grid-column: 1/-1;
}

.p1, .p2, .p3, .p4{
    display: none;
    grid-row: 2;
    grid-column: 1;
}

#slide1:checked ~ .img1,
#slide2:checked ~ .img2,
#slide3:checked ~ .img3,
#slide4:checked ~ .img4{
    opacity: 1;
}

.img-slider>img{
    max-width: 30vw;
    text-align: center;
}

input{
    display: inline-block;
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    border: solid 2px blue;
    background: blue;
    appearance: none;
}

input:hover{
    border: solid 2px aqua;
    background: aqua;
}

input:checked{
    background: white;
}

#slide1:checked ~ .p1,
#slide2:checked ~ .p2,
#slide3:checked ~ .p3,
#slide4:checked ~ .p4{
    display: block;
}
