body{
    background-color:rgb(170, 173, 176);
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr repeat(4, min-content);
    max-width: 50vw;
    margin-inline: auto;
    align-items: baseline;
}

input{
    grid-row: 2;
}

.img-slider{
    place-self: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.img1, .img2, .img3, .img4{
    grid-row: 1;
    grid-column: 1/-1;
}

#slide1:checked ~ .img1,
#slide2:checked ~ .img2,
#slide3:checked ~ .img3,
#slide4:checked ~ .img4{
    opacity: 1;
}

.img-slider>img{
    max-width: 50vw;
    text-align: center;
}

input{
    display: inline-block;
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    border: solid 0.15rem blue;
    background: blue;
    appearance: none;
    margin: 0.3rem;
    padding: 0.3rem;
}

input:hover{
    border: solid 0.15rem aqua;
    background: aqua;
    cursor: pointer;
}

input:checked{
    background: white;
}

.p1, .p2, .p3, .p4{
    grid-row: 2;
    grid-column: 1;
}

p{
    opacity: 0;
    transition: all 0.5s;
    user-select: none;
    /* transform: translateY(-1.5rem); */
    pointer-events: none;
}

p:hover{
    cursor: text;
}

#slide1:checked ~ .p1,
#slide2:checked ~ .p2,
#slide3:checked ~ .p3,
#slide4:checked ~ .p4{
    opacity: 1;
    user-select: auto;
    /* transform: none; */
    pointer-events: auto;
}


@media (max-width: 30rem){
    .wrapper{
        grid-template-columns: 1fr repeat(4, min-content) 1fr;
        max-width: 90vw;
    }

    .img-slider>img{
        max-width: 90vw;
    }

    .img1, .img2, .img3, .img4{
        grid-row: 1;
        grid-column: 1/-1;
    }

    .empty{
        grid-row: 2;
    }

    input{
        grid-row: 2;
        justify-items: center;
    }

    .p1, .p2, .p3, .p4{
        grid-row: 3;
        grid-column: 1/-1;
    }
}
