body{
    background-color:rgb(170, 173, 176)
}

input{
    display: none;
}

.img1, .img2, .img3, .img4{
    display: none;
}

.p1, .p2, .p3, .p4{
    display: none;
}

#slide1:checked ~ .img1,
#slide2:checked ~ .img2,
#slide3:checked ~ .img3,
#slide4:checked ~ .img4{
    display: block;
}

.img-slider{
    align-items: center;
}

.img-slider>img{
    height: 40rem;
}

label {
    display: inline-block;
    border-radius: 1rem;
    width: 1rem;
    height: 1rem;
    border: solid 2px blue;
    background: blue;
}

label:hover{
    border: solid 2px aqua;
    background: aqua;
}

#slide1:checked ~ label[for='slide1'],
#slide2:checked ~ label[for='slide2'],
#slide3:checked ~ label[for='slide3'],
#slide4:checked ~ label[for='slide4']{
    background: white;
}

#slide1:checked ~ .p1,
#slide2:checked ~ .p2,
#slide3:checked ~ .p3,
#slide4:checked ~ .p4{
    display: block;
}